
  
  <div class="container">
    <div class="titulo">
      <h1 class="txt-titulo">Challenge</h1>
    </div>
    <div class="row">
        <div class="home-card">
            <mat-card>
                <mat-card-header>
                  <div mat-card-avatar class="home-header-image"></div>
                  <mat-card-title>Clientes</mat-card-title>
                </mat-card-header>
                <img class="icon-header" [src]="clienteGrupo">
                <mat-card-content>
                  <p>
                    Listado de clientes
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-flat-button color="primary" (click)="consultarCliente()">
                    Consultar
                  </button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="home-card">
          <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="home-header-image"></div>
                <mat-card-title>Clima</mat-card-title>
              </mat-card-header>
              <img class="icon-header" [src]="clima">
              <mat-card-content>
                <p>
                  Consultar clima segun la ciudad seleccionada
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-flat-button color="primary" (click)="consultarClima()" disabled>
                  Consultar
                </button>
              </mat-card-actions>
            </mat-card>
      </div>
    </div>
  </div>