
  
  <div class="container">
    <div class="titulo">
      <h1 class="txt-titulo">Challenge</h1>
    </div>
    <div class="row">
        <div class="home-card col-md-6">
            <mat-card (click)="consultarCliente()">
                <mat-card-header>
                  <mat-card-title><h2>Listado de clientes</h2></mat-card-title>
                </mat-card-header>
                <img class="icon-header" [src]="clienteGrupo">
              </mat-card>
        </div>
        <div class="home-card col-md-6">
          <mat-card class="disabled">
              <mat-card-header>
                <mat-card-title><h2 class="disabled">Clima</h2></mat-card-title>
              </mat-card-header>
              <img class="icon-header" [src]="clima">
            </mat-card>
      </div>
    </div>
  </div>