.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.516);
    backdrop-filter: blur(2px);
    z-index: 10;
  
    mat-progress-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px;
    }
  }